
<li id="partials_<%= text_asset.content_id %>" style="list-style-type: none; ">
<div id="container_<%= text_asset.content_id %>" style="background-color: #eaeaea; border: 1px solid #ff0000; max-height: 120px; overflow: hidden; padding: 3px; margin: -3px; margin-bottom: 6px; ">
<%= text %>

<%= images %>

<%= form %>

<%= todo %>

<%= files %>
</div>
</li>
