
<% if articles.length == 0 then %>

<font style="font-size: 9px; font-family: Verdana">Keine Eintr&auml;ge</font>
      
<% else %>

<ul class="article_title_list">

  <% 
      articles.each do |article|
  %>

  <li class="article_title_list">
    <span class="link" <%= gui.onclick_link_to(article) %> ><%= article.title %></span>
  </li>
  <% 
    end 
  %>

</ul>

<% end %>
