
<br />
<% media_assets.each do |ma| %>
 <div style="float: left; "> 
   <%= ma[:string] %>
   <% if ma[:instance].title then %>
    <br />
    <font style="color: #888888; font-size: 10px;"><%= ma[:instance].title %> &nbsp; </font>
   <% end %>
 </div>
<% end %>
<div style="clear: both; "></div>
