
<div id="container_<%= text_asset.content_id %>" class="article_container">
<%= text %>

  <div id="container_<%= text_asset.content_id %>_attachments">
    <%= images %>
    <%= form %>
    <%= todo %>
    <%= files %>
  </div>
</div>
