<div style="margin: 10px;">

<% types.each do |type_icon| %>
  <%= type_icon %><br />
<% end %>
<br />
<div style="text-align: center; ">
  <input type="button" class="lore_button" value="abbrechen" onclick="context_menu_close(); " />
</div>

</div>
