
<div id="media_asset_list" class="media_asset_list">

<div id="media_folder_content" class="media_folder_content">
</div>

</div>

<div id="selected_media_assets" class="selected_media_assets">
<nobr>
<%= selected_media_assets %>
</nobr>
</div>

